* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
a {
  color: currentColor;
}

/* Login page */
.login-body {
  background: url(./img/login/emil-widlund-xrbbXIXAWY0-unsplash.png) 50% 82% no-repeat;
  width: 100vw;
  height: 100vh;
}
.login-bg {
  background: url(./img/login/Retangulo310.svg) no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-card {
  background-color: #fff;
  width: 433px;
  height: 446px;
  opacity: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #70707040;
  border-radius: 8px;
  padding: 56px 40px;
}
.login-logo {
  width: 120px;
  height: 48px;
  margin-bottom: 56px;
}
.login-card form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.login-card input {
  width: 353px;
  height: 51px;
  border-radius: 4px;
  background-color: #f1f3f5;
  border: 0;
  padding: 16px;
}
.login-btn {
  border: 0;
  border-radius: 4px;
  background-color: #ffc501;
  height: 45px;
  width: 353px;
  font-size: 16px;
  font-weight: bold;
  margin-top: 32px;
}
.forget-pass {
  text-align: left;
  font-size: 14px;
  font-weight: bold;
}
/* Home Page */

.main-container {
  background-color: #f4f4f4;
}
.main-nav {
  display: flex;
  justify-content: space-between;
  padding: 0 24px;
  align-items: center;
  height: 96px;
  background-color: #fff;
}
.main-user {
  display: flex;
  align-items: center;
  font-size: 18px;
  cursor: pointer;
}

.main-home {
  margin: 24px;
  background-color: #fff;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 40px;
  border-radius: 5px;
  padding: 200px 244px;
}
.main-card {
  width: 250px;
  height: 224px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 27px;
  border: 3px solid #f4f4f4;
  border-radius: 5px;
  text-decoration: none;
  transition: 0.3s;
}

.main-card-icon {
  width: 250px;
  height: 150px;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  transition: 0.3s;
}
.main-card:hover .main-card-icon {
  background-color: #ffc501;
  border-radius: 5px 5px 0 0;
}
.main-card:hover {
  border: 3px solid #ffc501;
}

/* New Book */
.main-newbook {
  margin: 24px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  height: 624px;
  padding: 24px;
}
.main-path {
  display: flex;
  gap: 8px;
  align-self: flex-start;
  text-decoration: none;
  padding: 24px;
}
#newBook {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 117px;
}
.newBookGrid input,
.newBookGrid select {
  border: 1px solid #133052;
  border-radius: 5px;
  width: 350px;
  min-height: 53px;
  padding: 16px;
}
#newBook label {
  position: absolute;
  margin: 16px;
  color: #133052;
}
.newBookGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  margin: 32px 48px;
}
.newBookGrid1 {
  grid-area: 1 / 1 / 2 / 2;
}
.newBookGrid2 {
  grid-area: 2 / 1 / 4 / 2;
}
.newBookGrid3 {
  grid-area: 1 / 2 / 2 / 3;
}
.newBookGrid4 {
  grid-area: 2 / 2 / 3 / 3;
}
.newBookGrid5 {
  grid-area: 3 / 2 / 4 / 3;
}
.coverPreview {
  width: 172px;
  height: 206px;
  position: absolute;
}
#bookSynopsis {
  height: 129px;
}
#bookCover {
  height: 206px;
  width: 172px;
  border: 2px dashed #ffc501;
  color: transparent;
  cursor: pointer;
}
.newBookLabelFile {
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.labelFileCenter {
  display: flex;
  gap: 8px;
  color: #ffc501 !important;
}
#bookEntry {
  color: transparent;
}
#bookEntry:focus {
  color: black;
}
#bookCover::file-selector-button {
  display: none;
}
.newBookBtn {
  align-self: flex-end;
  margin-right: 187px;
  display: flex;
  gap: 24px;
}
.newBookBtn button {
  width: 143px;
  height: 53px;
  font-size: 16px;
}
#newBookCancelBtn {
  background-color: transparent;
  border: 1px solid #133052;
  border-radius: 5px;
}
#newBookSaveBtn {
  background-color: #ffc501;
  border: 0;
  border-radius: 5px;
}

/* Library */
.main-library {
  margin: 24px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  height: 100%;
}
.main-library-center {
  margin: 48px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 76px;
  flex-direction: column;
}
.main-library-search form {
  display: flex;
  gap: 32px;
}
.inputsearchAndBtn {
  width: 666px;
  height: 53px;
  border: 1px solid #adb5bd;
  border-radius: 5px;
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: space-between;
  padding-right: 8px;
  padding-left: 16px;
  cursor: text;
}
#searchBook {
  width: 580px;
  height: 50px;
  border: 0;
  background-color: transparent;
}
#searchBook:focus {
  outline: none;
}
.searchBookBtn {
  background-color: #ffc501;
  width: 82px;
  height: 37px;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
}
#filterGenre {
  border: #adb5bd 1px solid;
  border-radius: 5px;
  width: 260px;
  height: 53px;
  padding: 16px;
  appearance: none;
  background: url(./img/library/Polígono\ 4down.svg) 95%/ 10px no-repeat;
  cursor: pointer;
  transition: 0.3s;
}
#filterGenre:focus {
  appearance: none;
  background: url(./img/library/Polígono\ 4.svg) 95%/ 10px no-repeat;
}
.main-library-cards {
  width: 100%;
  height: 100%;
  gap: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.book-card {
  width: 195px;
  height: 260px;
  display: flex;
  flex-direction: column;
  background-color: #f4f4f4;
  gap: 16px;
  padding: 24px 44px;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
}
.book-card img {
  width: 108px;
  height: 155px;
}

/* Modal Book Info */
.modal-container {
  width: 100vw;
  height: 100vh;
  background-color: #3a3a4070;
  border: 1px solid #707070;
  position: fixed;
  top: 0px;
  left: 0px;
  display: none;
  justify-content: center;
  padding-top: 55px;
}
.modal-book {
  display: none;
  flex-direction: column;
  background-color: #fff;
  border: 1px solid #707070;
  height: auto;
}
.modal-top-side {
  width: 816px;
  height: 585px;
  display: flex;
  gap: 40px;
  padding: 70px 40px 40px;
  position: relative;
}
.modal-left-side,
.modal-right-side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.modal-right-side {
  width: 100%;
}
.modal-left-side img {
  object-fit: contain;
  max-width: 272px;
  max-height: 390px;
}
.lent-book-btn {
  background-color: #ffc505;
  border: 1px solid #adb5bd;
  padding: 16px 82px;
  display: flex;
  gap: 12px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 5px;
  cursor: pointer;
}
.lent-book-btn-disabled {
  background-color: #f4f4f4;
}
.modal-txt-info {
  color: #3e4756;
}
.modal-txt-info h2 {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}
.modal-txt-info h3 {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 8px;
  margin-top: 24px;
}
.modal-txt-info p {
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 24px;
}
.modal-btns {
  display: flex;
  gap: 24px;
  justify-content: center;
}
.modal-btns button {
  padding: 16px 24px;
  font-size: 16px;
  font-weight: 500;
  background-color: #fff;
  border-radius: 5px;
}
.modalEditBtn {
  border: 1px solid #167ce2;
  color: #167ce2;
}
.modalInactivateBtn {
  border: 1px solid #ed5e5e;
  color: #ed5e5e;
}
.modalHistoryBtn {
  border: 1px solid #adb5bd;
  color: #000;
}
.modal-rent-history {
  display: none;
  height: 100%;
  /* background-color: #fff;
  border: 1px solid #707070; */
}
.table-rent-history {
  background-color: #f4f4f4;
  margin: 16px 40px 40px 40px;
  padding: 16px;
  width: 736px;
}
.tr-thead {
  font-size: 16px;
  font-weight: 500;
}
.tr-tbody {
  font-size: 16px;
  font-weight: 300;
}
.lent-book {
  width: 805px;
  height: 353px;
  background-color: #fff;
  border: 1px solid #707070;
  padding: 40px;
  display: none;
  flex-direction: column;
  position: relative;
}
.lent-book-form {
  margin-top: 21px;
  margin-bottom: 40px;
  display: flex;
  gap: 23px;
  flex-wrap: wrap;
}
.lent-book-form label {
  position: absolute;
  margin: 16px;
  display: none;
}
.lent-book-form input {
  border: 1px solid #133052;
  width: 350px;
  height: 53px;
  border-radius: 5px;
  padding: 16px;
}
.lent-book button {
  width: 272px;
  align-self: flex-end;
}
.modal-close {
  width: 16px;
  height: 16px;
  padding: 24px;
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.show-rent-history {
  display: block;
}
.show-modal {
  display: flex;
}
